*.bak
*~

# Ignore Python bytecode files
__pycache__


# Ignore environment folders
env/
venv/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/


# Ignore Jupyter Notebook autosave files
*.ipynb_checkpoints/

# Ignore Jupyter Notebook kernel metadata
.ipynb_metadata/

# Ignore Python virtual environment
/.env/


# Ignore any generated data or models
data/
models/

